# dependencies

node_modules/

# expo

.expo/
dist/
web-build/
expo-env.d.ts

# native

_.orig._
_.jks
_.p8
_.p12
_.key
\*.mobileprovision

# metro

.metro-health-check\*

# debug

npm-debug._
yarn-debug._
yarn-error.\*

# macos

.DS_Store
\*.pem

# typescript

\*.tsbuildinfo

# Android/IntelliJ

android/app/build/
android/.gradle
android/local.properties
android/_.iml
.idea/
android/.settings/
android/app/release/
_.hprof
.cxx/
android/captures/
android/

# Keystore files

**/\*.keystore
**/\*.jks
