# dependencies
node_modules/

# expo
.expo/
dist/
web-build/
expo-env.d.ts

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macos
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Android/IntelliJ
android/app/build/
android/.gradle
android/local.properties
android/*.iml
.idea/
android/.settings/
android/app/release/
*.hprof
.cxx/
android/captures/
android/

# Keystore files
**/*.keystore
**/*.jks

# environment files
.env

# google-services
google-services.json

agrilease-37add-firebase-adminsdk-fbsvc-ab0f69d63a.json